/* Will be compiled down to a single stylesheet with your sass files */

.pad {
  padding: 10px;
}

/* wraps main content area for all routes, including jobs */
#main {}

/* wraps job right column */
#jobs {}

.job {
  padding: 10px;
  background-color: #fafafa;
  margin-bottom: 10px;
  box-shadow: 0 0 1em #888;
}

/* main route areas */
#browse {}
#modify {}
#search {}
#view {}

.resource {
  border: 1px solid #ddd;
  background-color: #fafafa;
  margin-bottom: 5px;
}
