<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="components/bootstrap.css/css/bootstrap.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="ayamelAdminAppDev">
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="components/es5-shim/es5-shim.js"></script>
      <script src="components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Add your site or application content here -->


    <!-- header -->
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">Ayamel Admin</a>
        <ul class="nav">
          <li><a href="#/browse">Browse</a></li>
          <li><a href="#/create">Create</a></li>
        </ul>
        <div class='navbar-form'>
          <input type="text" class="span2 pull-right" placeholder="API Key" ng-model='settings.apiKey' tooltip='You must provide a valid API key.' tooltip-placement='bottom'>
          <input type="text" class="span3 pull-right" placeholder="API Endpoint" ng-model='settings.apiEndpoint' tooltip='You can override the location of the API server if being hosted elsewhere.' tooltip-placement='bottom'>
        </div>
      </div>
    </div>
    <!-- /header -->

    <!-- main content -->
    <div class="container-fluid" ng-controller='NotificationsCtrl'>
      <div ng-repeat='notification in notifications' class="alert alert-{{notification.type}}">
        <button type="button" class="close" ng-click='removeNotification()'>&times;</button>
        {{ notification.message }}
      </div>
      <div ng-show='settings.apiKey' id='main'>
        <div class='row-fluid'>
          <div class='span9' id='content' ng-view></div>
          <div class='span3 well' id='jobs' ng-controller='JobsCtrl'>
            <div class='pad'>
              <div class='job' ng-repeat='job in getActiveJobs()' popover="TODO: show overview of resource" popover-trigger="mouseenter" popover-placement="left">
                <h6>{{ job.filename }}</h6>
                <div class="progress progress-striped active">
                  <div class="bar" style="width: {{job.progress}}%;"></div>
                </div>
              </div>
              <div class='job' ng-repeat='file in getPendingJobs()' popover="TODO: show overview of resource" popover-trigger="mouseenter" popover-placement="left">
                <h6>{{ file }}</h6>
                <div class="progress">
                  <p>pending...</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-show='!settings.apiKey' class='alert alert-warning'>
        <h4>Note:</h4>
        <p>You must enter a valid API key above to use this application.</p>
      </div>
    </div>
    <!-- /main content -->

    <!-- TODO: footer -->

    <script src="components/angular/angular.js"></script>
    <script src="components/angular-resource/angular-resource.js"></script>
    <script src="components/angular-cookies/angular-cookies.js"></script>
    <script src="components/angular-sanitize/angular-sanitize.js"></script>
    <script src="components/angular-mocks/angular-mocks.js"></script>
    <script src="components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <!-- build:js scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/search.js"></script>
    <script src="scripts/controllers/browse.js"></script>
    <script src="scripts/controllers/view.js"></script>
    <script src="scripts/controllers/notifications.js"></script>
    <script src="scripts/controllers/jobs.js"></script>
    <script src="scripts/controllers/modify.js"></script>
    <script src="scripts/controllers/create.js"></script>
    <script src="scripts/modules/ayamelServerFake.js"></script>
    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
