<div class="row-fluid" id='browse' ng-controller='BrowseCtrl'>
  <div class="navbar">
    <div class="navbar-inner">
      <div class='navbar-form'>
        <select class='input-medium' ng-model="filterSelected.type" ng-init="filterSelected.type == ''">
          <option value=''>-- Type --</option>
          <option ng-repeat='type in availableFilters' value='{{type}}'>{{type}}</option>
        </select>
        <select class='input-medium' ng-model="filterSelected.status" ng-init="filterSelected.status == ''">
          <option value=''>-- Status --</option>
          <option ng-repeat='status in availableStatuses' value='{{status.value}}'>{{status.name}}</option>
        </select>
        <input type='text' class='span1 pull-right' size=3 ng-model='itemsPerPage' ng-init='itemsPerPage=20' tooltip='Number of items to show per page.' tooltip-placement='bottom'>
      </div>
    </div>
  </div>
  <div class='row pagination-centered'>
    <pagination ng-show='showPagination()' num-pages="getNumPages()" current-page="currentPage" class="pagination-small" previous-text="&laquo;" next-text="&raquo;"></pagination>
  </div>
  <div class='pad'>
    <div class='resource row-fluid' ng-repeat='(resourceIndex, resource) in resources | filter: filterSelected.type' ng-show='resources.length'>
      <div class='pad'>
        <div class='span2'>
          <span class="label label-info"><i class='icon-file icon-white'></i></span>
          <a href='#/view/{{resource.id}}'>{{resource.title}}</a>
        </div>
        <div class='span8'><small>{{resource.description}}</small></div>
        <div class='span2'>
          <div class='btn-group'>
            <a class='btn btn-small' href='#/modify/{{resource.id}}' tooltip="Edit this Resource"><i class='icon-edit'></i></a>
            <a class='btn btn-small' tooltip="Delete this Resource" ng-click='openModal(resourceIndex)' title="Delete this Resource"><i class='icon-trash'></i></a>
          </div>
        </div>
      </div>
    </div>
    <div ng-show='!resources.length'>
      <p>There are no resources to view.</p>
    </div>
  </div>
  <div modal="modalOpen" close="closeModal()">
    <div class="modal-header">
      <h4>{{resourceDel.title}}</h4>
    </div>
    <div class="modal-body">
      <p>
        Do you really want to delete this item?
      </p>
    </div>
    <div class="modal-footer">
      <button class='btn btn-primary' ng-click="closeModal()">No</button>
      <button class='btn btn-primary' ng-click='deleteResource(resourceDel.id)'>Yes</button>
    </div>
  </div>
</div>
